<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        
        <!-- AmazingAI: Meta Data -->
        <meta charset="utf-8">
        <title>AmazingCodebase</title>
        <meta content="AmazingCodebase // #1love #berlin #stayathome #udacity" name="description">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta charset="UTF-8">

        <!-- AmazingAI: Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/src/client/files/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/src/client/files/amazing-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/src/client/files/amazing-16x16.png">
        <link rel="manifest" href="/src/client/files/amazing.webmanifest">
        
        <!-- AmazingAI: Style Sheet -->
        <link rel="stylesheet" href="/src/client/styles/amazing.css">
        <link rel="stylesheet" href="/src/client/styles/base.css">
        <link rel="stylesheet" href="/src/client/styles/footer.css">
        <link rel="stylesheet" href="/src/client/styles/form.css">
        <link rel="stylesheet" href="/src/client/styles/header.css">
        <link rel="stylesheet" href="/src/client/styles/resets.css">

        <!-- AmazingAI: Google Fonts -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        <script type="text/javascript">WebFont.load({google: {families: ["Exo:300,400,500,600,700","Poppins:300,regular,500,600,700"]}});</script>

    </head>

    <body>
        <!-- AmazingAI: Header -->
        <header class="header-amazing">
            <div class="container">
            <nav class="navbar-amazing">
                <h1 class="h1-amazing">The <a href="index.html" aria-current="page" class="amazing-highlight"><strong class="highlight">AmazingAI</strong></a> Web Application</h1>
            </nav>
            </div>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>
        <!-- AmazingAI: Project Components -->
        <main>
            <section class="section-amazing">
                <div id="responsive" class="container">
                    <div class="div-master">
                        <div id="app">
                            <div class="app-amazing">
                                <h2 class="h2-amazing">Get <strong>AmazingAI</strong> Feedback</h2>
                                <form class="" onsubmit="return handleSubmit(event)">
                                    <input class="amazing-zip" type="text" id="zip" placeholder="enter zip code here">
                                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter a web address here for our robots to process...">
                                    <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
                                    <button class="amazing-btn" id="generate" type="submit"> Generate </button>
                                </form>
                                <h2 class="h2-amazing">Updated <strong>AmazingAI</strong> Results:</h2>
                                <div id="app-journals" class="entry-amazing">
                                    <div id="entryHolder">
                                        <div id="date"></div> 
                                        <div id="temp"></div>
                                        <div id="results"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
        <!-- AmazingAI: Footer -->
        <footer class="footer-amazing">
            <div class="container">
                <div class="social-amazing">
                <h2 class="h2-social">Join on <strong>Social</strong> Networks:</h2><a href="https://dribbble.com/daniel-j-guenther" target="_blank" class="social-link-fontawesome"></a><a href="https://github.com/daniel-j-guenther" target="_blank" class="social-link-fontawesome"></a><a href="https://www.linkedin.com/in/daniel-j-guenther/" target="_blank" class="social-link-fontawesome"></a></div>
                <div class="crumbs-amazing">I hope you enjoy this <a href="index.html" class="footer-homepage-link">#Amazing🤪</a> webapp </div>
            </div>
        </footer>
        
        <!-- AmazingAI: Core JavaScript -->
        
    </body>
</html>
