<!DOCTYPE html>
<html lang="en" dir="client-html">
    <head>
        <!-- AmazingAI: Meta Data -->
        <meta charset="utf-8">
        <title>AmazingAI</title>
        <meta content="AmazingCodebase // #1love #berlin #stayathome #udacity" name="description">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <!-- AmazingAI: Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/amazing-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/amazing-16x16.png">
        <!-- AmazingAI: Google Fonts -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        <script type="text/javascript">WebFont.load({google: {families: ["Exo:300,400,500,600,700","Poppins:300,regular,500,600,700"]}});</script>
    </head>
    <body>
        <!-- AmazingAI: Portfolio Header -->
        <header class="header-amazing">
            <div class="container">
                <nav class="navbar-amazing">
                    <h1 class="h1-amazing">Our <a href="index.html" aria-current="page"><strong class="highlight">AmazingAI</strong></a> App</h1>
                </nav>
            </div>
        </header>
        <!-- AmazingAI: Project Components -->
        <main>
            <div class="container">
                <div class="div-master">
                    
                    <form class="app" onsubmit="return Client.handleSubmit(event)">
                        
                        <!-- User Inputs -->
                        <h2 class="h2-amazing">Get <strong>AmazingAI</strong> Feedback</h2>
                        <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter a web address here for our robots to process...">
                        <input type="submit" class="amazing-btn" name="" value="Get AI Feedback" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                        
                        <!-- NLP Outputs -->
                        <h2 class="h2-amazing">Your <strong>AmazingAI</strong> Results:</h2>
                        <div id="app-feedback" class="entry-amazing"></div>

                    </form>

                </div>
            </div>
        </main>
        <!-- AmazingAI: Portfolio Footer -->
        <footer>
            <div class="container">
                <div class="social-amazing">
                    <h2 class="h2-social">Join on <strong>Social</strong> Networks:</h2>
                    <a href="https://dribbble.com/daniel-j-guenther" target="_blank" class="social-icon"></a><a href="https://github.com/daniel-j-guenther" target="_blank" class="social-icon"></a><a href="https://www.linkedin.com/in/daniel-j-guenther/" target="_blank" class="social-icon"></a>
                </div>
                <div class="crumbs-amazing">I hope you enjoy this 
                    <a href="index.html" class="footer-link">#Amazing🤪</a> webapp 
                </div>
            </div>
        </footer>
        <!-- AmazingAI: Core JavaScript / Babel -->
        
    </body>
</html>