body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#app{
    display: flex;
    flex-direction: column;
    vertical-align: top;
    justify-content: center;
    padding-top: 24px;
    padding-left: 144px;
    padding-right: 144px;
    padding-bottom: 72px;
    font-family: 'Exo';
}
.app-amazing{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    justify-content: stretch;
}
input{
    display:block;
    height: 48px;
    padding: 12px;
    margin-bottom: 12px;
    color: #4138ec;
    background-color: #e6e6e6;
    border-width: 1px;
    border-radius: 6px;
    font-size: 1em;
    font-family: 'Exo';
}
textarea{
    display:block;
    height: 144px;
    padding: 12px;
    margin-bottom: 12px;
    color: #4138ec;
    background-color: #e6e6e6;
    border-width: 1px;
    border-radius: 6px;
    font-size: 1em;
    font-family: 'Exo';
}
button{
    display: block;
    height: 48px;
    background: #4138ec;
    color: #fff;
    border-radius: 6px;
    font-size: 1.44em;
    font-family: 'Exo';
    
}
.entry-amazing{
  display:block;
  border-color: #4138ec;
  border-width: 1px;
  border-radius: 6px;
}
#entryHolder{
    display:block;
    padding: 12px;
    background: #21ffa2;
    border-radius: 6px;
}
#date{
    display: inline-block;
    width: 49%;
    margin-right: 2%;
    padding-bottom: 4px;
    font-family: 'Poppins';
}
#temp{
    display: inline-block;
    width: 49%;
    padding-bottom: 4px;
    font-family: 'Poppins';
}
#content{
    display: block;
    width: 100%;
    font-family: 'Poppins';
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #4138ec; 
    padding-left: 12px;
    font-size: 1em;
    font-family: 'Exo';
} 
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #4138ec; 
    padding-left: 12px;
    font-size: 1em;
    font-family: 'Exo';
} 
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #4138ec;
    padding-left: 12px;
    font-size: 1em;
    font-family: 'Exo';
} 

/* AmazingBrand rework by student */
@font-face {
  font-family: 'Font Awesome Brands';
  src: url('/src/client/files/amazing.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Styling: Headers, Font & Text */
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
.h1-amazing {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 26px;
  line-height: 60px;
  font-weight: 300;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
.h2-amazing {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 48px;
    font-family: 'Poppins';
    color: #111;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: 400;
    text-align: center;
}
.h2-social {
  width: 100%;
  margin: 0px auto;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1px;
}
.highlight {
  padding-right: 6px;
  padding-left: 6px;
  background-color: #21ffa2;
  color: #fff;
}
.highlight:hover {
  background-color: #4138ec;
}
a {
  color: #111;
  text-decoration: none;
}
a:hover {
  color: #4138ec;
}
/* Styling: Links & Buttons */
.footer-homepage-link {
  color: #111;
  text-decoration: underline;
}
.social-contact-link {
  display: inline-block;
  width: 72px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: 'Font Awesome Brands', sans-serif;
  color: #000;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
}
.social-link-fontawesome {
  display: inline-block;
  width: 72px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Font Awesome Brands', sans-serif;
  color: #000;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
}
.link {
  text-decoration: none;
}
/* Styling: Layout */
.container {
  position: relative;
  z-index: 1;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-amazing {
  z-index: 0;
  display: flex;
  height: 32vh;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar-amazing {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-amazing {
  position: relative;
  z-index: 0;
  display: flex;
  padding-right: 12px;
  padding-left: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
}
.footer-amazing {
  display: flex;
  padding: 72px 12px 12px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.div-master {
  width: 100%;
  margin-top: -32px;
  margin-bottom: -32px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.15);
}
.social-amazing {
  padding: 12px 36px;
  font-style: normal;
  text-align: center;
}
.crumbs-amazing {
  padding: 12px;
  font-family: Poppins, sans-serif;
  color: #111;
  font-weight: 600;
  text-align: center;
}